---
import Accordion from "@/components/Accordion.astro";
import AboutLayout from "@/layouts/AboutLayout.astro";

const accItemsInit = [
  {
    togglerTitle: `10 programs
                    `,
    togglerContent: `<table>
              <tr>
                <td>
                  <ul>
                    <li>Albany</li>
                    <li>Chemung</li>
                    <li>Buffalo</li>
                    <li>Madison</li>
                    <li>Rensselaer</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Steuben</li>
                    <li>Ulster</li>
                    <li>CAMBA - Flatbush</li>
                    <li>Best Beginnings of Washington Heights</li>
                    <li>Bronx Perinatal</li>
                  </ul>
                </td>
              </tr>
            </table>
            `,
  },
];

const accItemsStage2 = [
  {
    togglerTitle: `Expansion to 17 new communities`,
    togglerContent: `<table>
              <tr>
                <td>
                  <ul>
                    <li>Bedford Stuyvesant</li>
                    <li>Broome</li>
                    <li>Allegany-Cattaraugus</li>
                    <li>Dutchess</li>
                    <li>Niagara</li>
                    <li>Oneida</li>
                    <li>Ontario</li>
                    <li>Newburgh</li>
                    <li>Otsego</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Sullivan</li>
                    <li>Westchester</li>
                    <li>South Bronx</li>
                    <li>Morris Heights</li>
                    <li>Bushwick</li>
                    <li>Central Harlem</li>
                    <li>Queens</li>
                    <li>Staten Island</li>
                  </ul>
                </td>
              </tr>
            </table>`,
  },
];

const accItemsStage3 = [
  {
    togglerTitle: `HFNY expansion adds 10 new sites`,
    togglerContent: `<table>
              <tr>
                <td>
                  <ul>
                    <li>Delaware</li>
                    <li>Herkimer</li>
                    <li>Middletown</li>
                    <li>Parkchester (Bronx)</li>
                    <li>Brookdale (Brooklyn)</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>University Settlement(Manhattan)</li>
                    <li>Tioga</li>
                    <li>Suffolk</li>
                    <li>Cayuga-Seneca</li>
                    <li>Ontario</li>
                  </ul>
                </td>
              </tr>
            </table>`,
  },
];

const accItemsStage4 = [
  {
    togglerTitle: `4 Existing Sites`,
    togglerContent: `<ul>
              <li>Erie</li>
              <li>Schenectady</li>
              <li>Brookdale (Brooklyn)</li>
              <li>Morris Heights (Bronx)</li>
            </ul>`,
  },
];

const accItemsStage5 = [
  {
    togglerTitle: `4 Existing Sites`,
    togglerContent: `<ul>
              <li>Dutchess</li>
              <li>Schenectady</li>
              <li>Brookdale (Brooklyn)</li>
              <li>Morris Heights (Bronx)</li>
            </ul>`,
  },
];
---

<AboutLayout
  title="Healthy Families New York Org"
  activeMainText="About"
  activeSubText="Timeline"
>
  <h1 class="heading">Timeline</h1>

  <div class="date-list">
    <dl>
      <dt>1994</dt>
      <dd class="disc">
        Ulster County Healthy Families makes 1st home visit for statewide HFNY
        on 11/5/94
      </dd>
    </dl>

    <dl>
      <dt>1995</dt>
      <dd class="disc">
        March 28th - official start date for original
        <Accordion accItems={accItemsInit} id="Init" />
      </dd>
      <dd class="disc">
        CHSR joins HFNY to support Evaluation and develop Management Information
        System (MIS)
      </dd>
    </dl>

    <dl>
      <dt>1996</dt>
      <dd class="disc">
        Steuben County makes 10,000th statewide HFNY home visit on 7/24/96
      </dd>
      <dd class="disc">HFNY Management Information System is deployed</dd>
      <dd class="disc">
        PCANY joins HFNY to support training and staff development
      </dd>
    </dl>
    <dl>
      <dt>1997</dt>
      <dd class="disc">Clinton County is the 11th HFNY program to be funded</dd>
    </dl>
    <dl>
      <dt>1998</dt>
      <dd class="disc">
        Healthy Schenectady Families joins HFNY as the 12th program
      </dd>
      <dd class="disc">
        Original programs receive 4-year accreditation from Healthy Families
        America
      </dd>
    </dl>
    <dl>
      <dt>1999</dt>
      <dd class="disc">
        Albany County Healthy Families makes 100,000th statewide HFNY home visit
        on 3/17/99
      </dd>
    </dl>
    <dl>
      <dt>2000</dt>
      <dd class="disc">
        Recruitment begins of 1,200 families in Buffalo, Ulster and Rensselaer
        for the HFNY randomized controlled trial, the &ldquo;gold
        standard&rdquo; of research
      </dd>
      <dd class="disc">
        Rensselaer County enrolls 5,000th statewide HFNY participant
      </dd>
      <dd class="disc">NYS home visiting law implemented</dd>
    </dl>
    <dl>
      <dt>2001</dt>
      <dd class="disc">
        <Accordion accItems={accItemsStage2} id="Stage2" />
      </dd>

      <dd class="disc">
        Prevent Child Abuse NY provides first quality assurance visits to
        programs
      </dd>
      <dd class="disc">
        Data collection begins for the <strong>1 year follow-up</strong>
        of the Randomized Controlled Trial
      </dd>
    </dl>
    <dl>
      <dt>2002</dt>
      <dd class="disc">
        Data collection begins for the <strong>2 year follow-up</strong>
        of the Randomized Controlled Trial
      </dd>
      <dd class="disc">
        Healthy Families New York logo created:<br /><img
          src="../images/hfny-logo.png"
          alt="HFNY logo"
        />
      </dd>
    </dl>
    <dl>
      <dt>2003</dt>
      <dd class="disc">
        Otsego enrolls 10,000th statewide HFNY participant on 5/13/03
      </dd>
      <dd class="disc">
        Data collection begins for the <strong>3 year follow-up</strong>
        of the Randomized Controlled Trial
      </dd>
    </dl>
    <dl>
      <dt>2004</dt>
      <dd class="disc">
        Healthy Families New York is first state to receive HFA multi-site
        accreditation
      </dd>
      <dd class="disc">
        All HFNY program staff attend first training institute in Saratoga, New
        York
      </dd>
    </dl>
    <dl>
      <dt>2005</dt>
      <dd class="disc">
        Healthy Families New York celebrates 10 year anniversary
      </dd>
      <dd class="disc">
        &ldquo;<a
          href="../Research/Publications/HFNYEvalReport.pdf"
          target="_blank"
          >Evaluation of Healthy Families New York (HFNY): First year program
          impacts</a
        >&rdquo;, a final report to the New York State Office of Children &amp;
        Family Services
      </dd>
    </dl>
    <dl>
      <dt>2006</dt>
      <dd class="disc">
        Governor establishes NYS Budget line for Healthy Families New York
      </dd>
      <dd class="disc">
        HFNY designated as a proven practice by Rand Corporation Promising
        Practice Network
      </dd>
      <dd class="disc">
        Fatherhood advocate funds available to expand services
      </dd>
    </dl>
    <dl>
      <dt>2007</dt>
      <dd class="disc">New Healthy Families New York website is launched</dd>
      <dd class="disc">
        Prenatal pilot initiated among several sites through work of Central
        Administration&rsquo;s Early Enrollment Committee
      </dd>
      <dd class="disc">
        Data collection begins for the <strong>7 year follow-up</strong>
        of the Randomized Controlled Trial
      </dd>
    </dl>
    <dl>
      <dt>2008</dt>
      <dd class="disc">
        <Accordion accItems={accItemsStage3} id="Stage3" />
      </dd>
      <dd class="disc">
        Suffolk enrolls 20,000th statewide HFNY participant on 6/26/08
      </dd>
      <dd class="disc">
        <a
          href="http://www.sciencedirect.com/science/article/pii/S0145213408000148"
          target="_blank"
          >&ldquo;Healthy Families New York (HFNY) randomized trial: Effects on
          early child abuse &amp; neglect</a
        >&rdquo; published in the journal of <em>Child Abuse &amp; Neglect</em>
      </dd>
    </dl>
    <dl>
      <dt>2009</dt>
      <dd class="disc">
        All HFNY programs attend second Training Institute in Geneva (New York
        that is)!
      </dd>
      <dd class="disc">
        &ldquo;<a
          href="../Research/Publications/HFNY_low_birth_weight_article.pdf"
          target="_blank"
          >Reducing low birth weight through home visitation: a randomized
          controlled trial</a
        >&rdquo; published in the American Journal of Preventive Medicine
      </dd>
    </dl>
    <dl>
      <dt>2010</dt>
      <dd class="disc">
        CAMBA-Flatbush enrolls 25,000th statewide HFNY participant on 7/26/10
      </dd>
      <dd class="disc">
        &ldquo;<a
          href="http://www.sciencedirect.com/science/article/pii/S0145213410002164"
          target="_blank"
          >Effects of Healthy Families New York on the promotion of maternal
          parenting competencies and the prevention of harsh parenting</a
        >&rdquo; published in <em>Child Abuse and Neglect</em>
      </dd>
    </dl>
    <dl>
      <dt>2011</dt>
      <dd class="disc">
        Brookdale makes 1,000,000th statewide HFNY home visit on 5/20/11
      </dd>
      <dd class="disc">
        &ldquo;<a
          href="https://www.ncjrs.gov/pdffiles1/nij/grants/232945.pdf"
          target="_blank"
          >A randomized trial of Health Families New York (HFNY): Does home
          visiting prevent child maltreatment?</a
        >&rdquo; a final report to the National Institute of Justice
      </dd>
    </dl>
    <dl>
      <dt>2012</dt>
      <dd class="disc">
        Parkchester enrolls 30,000th statewide HFNY participant on 11/29/12
      </dd>
      <dd class="disc">1st Fatherhood Summit</dd>
      <dd class="disc">
        Maternal Infant Early Childhood Home Visiting (MIECHV) federal funds
        allow expansion of four
        <Accordion accItems={accItemsStage4} id="Stage4" />
      </dd>
    </dl>
    <dl>
      <dt>2013</dt>
      <dd class="disc">Healthy Families Washington Heights joins HFNY</dd>
      <dd class="disc">
        HFNY programs and Central Administration receive 5-year multi-site
        accreditation
      </dd>
      <dd class="disc">New Web-based Management Information System deployed</dd>

      <dd class="disc">2nd Fatherhood Summit</dd>
      <dd class="disc">
        &ldquo;<a href="../Research/publications.htm"
          >Effectiveness of home visiting as a strategy for promoting
          children&rsquo;s adjustment to school</a
        >&rdquo; published in the journal
        <em>Zero to Three</em>
      </dd>
    </dl>
    <dl>
      <dt>2014</dt>
      <dd class="disc">
        MIECHV funds allow expansion of existing HFNY site: Healthy Families
        CAMBA (Brooklyn)
      </dd>
      <dd class="disc">3rd Fatherhood Summit</dd>
      <dd class="disc">
        Data collection begins for the <strong>15 year follow-up</strong> of the
        Randomized Controlled Trial
      </dd>
    </dl>
    <dl>
      <dt>2015</dt>
      <dd class="disc">
        MIECHV funds allow expansion of
        <Accordion accItems={accItemsStage5} id="Stage5" />
        , and the addition of one new HFNY program: Sunset Park (Brooklyn)
      </dd>
      <dd class="disc">4th Fatherhood Summit</dd>
      <dd class="disc">HFNY celebrates 20th anniversary</dd>
    </dl>
    <dl>
      <dt>2016</dt>
      <dd class="disc">Healthy Families Jefferson joins HFNY</dd>
      <dd class="disc">Healthy FamiliesYates joins HFNY</dd>
      <dd class="disc">
        HFNY applauds the expansion of the following sites: <strong
          >Franklin, Niagara and Suffolk</strong
        >.
      </dd>
    </dl>
    <dl>
      <dt>2017</dt>
      <dd class="disc">Healthy Families Cortland joins HFNY</dd>
      <dd class="disc">Healthy Families Wayne joins HFNY</dd>
      <dd class="disc">
        Healthy Families <strong>Sunset Park</strong> expands.
      </dd>
      <dd class="disc">
        MIECHV funds allow expansion of existing HFNY sites: <strong
          >the opening of new sites in Monroe and Corona Queens.</strong
        >
      </dd>
      <dd class="disc">
        HFNY Training Institute - September 18th through 20th
      </dd>
      <dd class="disc">Combined Enrollment Pilot project begins</dd>
      <dd class="disc">
        <a href="/Research/Publications/HFNYBFSMpper.pdf" target="_blank"
          >“Let's Talk About Breastfeeding: The Importance of Delivering a
          Message in a Home Visiting Program”</a
        > published in the American Journal of Health Promotion
      </dd>
    </dl>
    <dl>
      <dt>2018</dt>
      <dd class="disc">
        A combination of State General Funds, MIECHV funds, and rededicated TANF
        dollars allow Healthy Families Rockland to join HFNY and allow for two
        additional Training and Staff Development Specialists to support
        infrastructure
      </dd>
      <dd class="disc">
        <a
          href="/media/pdf/Engaging At-Risk Fathers in Home Visiting Services_ Effects on Program Retention and Father Involvement.pdf"
        >
          “Engaging At-Risk Fathers in Home Visiting Services: Effects on
          Program Retention and Father Involvement”</a
        > published in the Child and Adolescent Social Work Journal
      </dd>
      <dd class="disc">
        <a
          href="/media/pdf/2018reducingmaltreatmentthroughhv.pdf"
          target="_blank"
          >“Reducing Maltreatment Recurrence Through Home Visitation: A
          Promising Intervention for Child Welfare Involved Families”</a
        > published in Child Abuse & Neglect: The International Journal
      </dd>
    </dl>
    <dl>
      <dt>2019</dt>
      <dd class="disc">
        HFNY programs and Central Administration receive 5-year multi-site
        accreditation
      </dd>
    </dl>
    <dl>
      <dt>2020</dt>
      <dd class="disc">
        HFNY consistently serves families during the global pandemic, developing
        creative virtual home visiting strategies
      </dd>
      <dd class="disc">
        Over 2,700 parent surveys and nearly 67,400 home visits are completed
        during the year of the COVID-19 pandemic
      </dd>
      <dd class="disc">
        <a
          href="https://link.springer.com/article/10.1007/s11121-020-01110-w"
          target="_blank"
          >“Sustained Impact on Parenting Practices: Year 7 Findings from the
          Healthy Families New York Randomized Controlled Trial”</a
        > published in Prevention Science
      </dd>
      <dd class="disc">
        Central Administration continues to support programs during the pandemic
        by rapidly adapting trainings, quality assurance site visits, the
        management information system and technical assistance.
      </dd>
    </dl>
    <dl>
      <dt>2021</dt>
      <dd class="disc">
        An increase of de-linking funds allow addition of two sites in St.
        Lawrence and Livingston Counties
      </dd>
    </dl>
  </div>
</AboutLayout>

<style>
  /* Timeline dates */
  .date-list dl {
    display: inline-block;
    clear: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    min-height: 4em;
  }

  .date-list dt {
    font-size: 4em;
    color: #ccc;
    float: left;
    margin: 0 0.25em 0 0;
    padding: 0;
    line-height: 0.8em;
    position: relative;
  }

  .date-list dd {
    margin: 0 0 0 10em;
    line-height: 1.6em;
  }

  .disc {
    padding-left: 0.75em;
    background-image: url(../images/template_images/black-bullet.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
  }
</style>
